@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary-300: #f6b1bd;
    --color-primary-500: #c80d0d;
    --color-primary-700: #bc1b36;
    --color-secondary-500: #5c2978;
    --color-secondary-700: #491a63;
    --color-tertiary-500: #e32906;
    --color-tertiary-700: #cb2303;
    --color-quaternary-300: #fdf48f;
    --color-quaternary-500: #fbdd0b;
    --color-neutral-100: #f7f7f7;
    --color-neutral-200: #eee;
    --color-neutral-400: #999;
    --color-neutral-600: #777;
    --color-neutral-800: #333;
    --color-neutral-900: #25272c;

    --gradient-overlay-primary: rgb(200 13 13 / 0.72), rgb(20 2 4 / 0.66);
    --gradient-overlay-secondary: rgb(92 41 120 / 0.72), rgb(73 26 99 / 0.66);
    --gradient-overlay-tertiary: rgb(227 41 6 / 0.72), rgb(203 35 3 / 0.66);
    --gradient-overlay-quaternary: rgb(251 221 11 / 0.72), rgb(253 244 143 / 0.66);

    /* Line height values */
    --line-height-sm: 1.4rem;
    --line-height-base: 1.8rem;
    --line-height-lg: 2.6rem;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .wrap-break-word {
    overflow-wrap: break-word;
  }
  .text-lg, .text-xl {
    line-height: var(--line-height-lg);
  }
  .text-base {
    line-height: var(--line-height-base);
  }
  .text-sm {
    line-height: var(--line-height-sm);
  }
}

@layer components {
  .grid-layout {
    @apply grid grid-cols-6 xl:grid-cols-12 gap-0 xl:gap-5 px-5 py-3 xl:py-5;
  }
  .layout-cols {
    @apply col-start-1 col-span-6 xl:col-start-2 xl:col-span-10;
  }
  .layout-cols--to-right {
    @apply col-start-1 col-span-6 xl:col-start-2 xl:col-span-11;
  }
  .layout-cols--to-left {
    @apply col-start-1 col-span-6 xl:col-start-1 xl:col-span-11;
  }
  .highlight-content--1 {
    @apply bg-highlight-primary -skew-y-3;
    & > * {
      @apply skew-y-3;
    }
  }
  .highlight-content--2 {
    @apply bg-highlight-secondary -skew-y-3;
    & > * {
      @apply skew-y-3;
    }
  }
  .highlight-content--3 {
    @apply bg-highlight-tertiary -skew-y-3;
    & > * {
      @apply skew-y-3;
    }
  }

  .sliding-panel__button {
    @apply absolute top-0 z-[2] pointer-events-none opacity-0 transition-all duration-500 ease-in-out flex items-center justify-center;
  }
  .sliding-panel__scroll > * {
    @apply flex-none;
  }

  /* Base Neutral Button */
  .button-outline-neutral {
    @apply border border-black text-black;
  }
  .button-outline-neutral:hover {
    @apply bg-black text-white;
  }

  /* Primary Outline Button */
  .button-outline-primary {
    @apply border-primary-700 text-primary-700;
  }
  .button-outline-primary:hover {
    @apply bg-primary-700 text-white;
  }

  /* Secondary Outline Button */
  .button-outline-secondary {
    @apply border border-secondary-700 text-secondary-700;
  }
  .button-outline-secondary:hover {
    @apply bg-secondary-700 text-white;
  }

  /* Tertiary Outline Button */
  .button-outline-tertiary {
    @apply border border-tertiary-700 text-tertiary-700;
  }
  .button-outline-tertiary:hover {
    @apply bg-tertiary-700 text-white;
  }

  /* Button Arrows */
  .arrow-down {
    /* stylelint-disable-next-line at-rule-no-unknown */
    @apply w-3 h-auto;
  }
  .arrow-right,
  .arrow-left {
    @apply w-auto h-3;
  }

  .nuxt-icon {
    @apply !mb-0;
  }
}
