# Nuxt dev/build outputs
.nuxt
.nitro
.cache
.output
dist

# Node dependencies
node_modules

# Firebase Functions
functions/lib
functions/node_modules

# Logs
logs

# Misc
.DS_Store
.fleet
.idea
.cursor

# Local env files
.env
.env.*
!.env.example
public/vint-anys-full-show.mp4
