/* IBM Plex Sans - Thin */
@font-face {
  font-family: 'IBM Plex Sans';
  src: url('~/assets/fonts/ibm-plex-sans/ibm-plex-sans-thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}


/* IBM Plex Sans - Light */
@font-face {
  font-family: 'IBM Plex Sans';
  src: url('~/assets/fonts/ibm-plex-sans/ibm-plex-sans-light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* IBM Plex Sans - Regular */
@font-face {
  font-family: 'IBM Plex Sans';
  src: url('~/assets/fonts/ibm-plex-sans/ibm-plex-sans-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* IBM Plex Sans - SemiBold */
@font-face {
  font-family: 'IBM Plex Sans';
  src: url('~/assets/fonts/ibm-plex-sans/ibm-plex-sans-semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* IBM Plex Sans - Bold */
@font-face {
  font-family: 'IBM Plex Sans';
  src: url('~/assets/fonts/ibm-plex-sans/ibm-plex-sans-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


/* Archivo Black - Regular */
@font-face {
  font-family: 'Archivo Black';
  src: url('~/assets/fonts/archivo-black/archivo-black-regular.woff2') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}